@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2 {

    margin-top: 10px;
    border: 2px solid #c7cac7;
    padding: 5px 10px;
    border-radius: 3px;
    width: 650px;
    text-align: center;
    margin: 10px auto;
    font-size: 25px;
    color: lightslategray;
    background-color: antiquewhite;

}

span {
    font-size: 26px;
    color: #000000;
}

p {
    color: red;
    font-size: 15px;
    text-align: center;

}

table {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

th {
    background-color: gray;
    color: #fff;
}

td {

    text-align: center;

}

tr:hover {
    background-color: rgb(229, 227, 225);
    cursor: pointer;
}
a{
    padding: 5px 10px;
    text-decoration: none;
    background-color: rgb(27, 187, 27);
    color: #ffffff;
    border-radius: 5px;
    margin-left: 5%;
    cursor: pointer;
}
a:hover{
    background-color: green;
}
